{% extends 'app/base.html' %} {% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Registrar Usuario</h4>

      <form method="POST" action="{% url 'registro' %}">
        {% csrf_token %}

        <!-- Bloque de mensajes de error -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
          <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="form-outline-login mb-4">
          <i class="fas fa-user prefix" aria-hidden="true"></i>
          <label for="id_username">Nombre de usuario</label>
          {{ form.username }}
          {% if form.username.errors %}
          <div class="text-danger">{{ form.username.errors }}</div>
          {% endif %}
        </div>

        <div class="form-outline-login mb-4">
          <i class="fas fa-envelope prefix" aria-hidden="true"></i>
          <label for="id_email">Correo electrónico</label>
          {{ form.email }}
          {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors }}</div>
          {% endif %}
        </div>

        <div class="form-outline-login mb-4">
          <i class="fas fa-lock prefix" aria-hidden="true"></i>
          <label for="id_password">Contraseña</label>
          {{ form.password }}
          {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors }}</div>
          {% endif %}
          <div id="password-requirements" class="alert alert-info mt-2" role="alert" style="display: none;">
            La contraseña debe tener al menos 8 caracteres, incluir una mayúscula y un carácter especial.
          </div>
        </div>

        <div class="form-outline-login mb-4">
          <i class="fas fa-lock prefix" aria-hidden="true"></i>
          <label for="id_password2">Repita su Contraseña</label>
          {{ form.password2 }}
          {% if form.password2.errors %}
          <div class="text-danger">{{ form.password2.errors }}</div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Registrarse
        </button>

        <div class="mt-3 text-center">
          <a href="{% url 'login' %}">¿Ya tienes una cuenta? Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var passwordField = document.getElementById('id_password');
    var passwordRequirements = document.getElementById('password-requirements');

    passwordField.addEventListener('focus', function() {
      passwordRequirements.style.display = 'block';
    });

    passwordField.addEventListener('blur', function() {
      passwordRequirements.style.display = 'none';
    });
  });
</script>
{% endblock %}