{% extends '../base.html' %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <a href="{% url 'listar_solicitudes' %}" class="btn btn-secondary">
            &#8592; Volver a Listar Tareas
        </a>
        <h1>Detalle Reporte</h1>
    </div>
    <div class="card-body">
        <p>Descripción: {{ reporte.descripcion }}</p>
        <p>Fecha de Creación: {{ reporte.fecha_creacion|date:"d-m-Y H:i" }}</p>
        {% if reporte.imagen %}
            <p>Imagen: <img src="{{ reporte.imagen.url }}" alt="Imagen del reporte" class="img-fluid"></p>
        {% endif %}
    </div>
</div>
{% endblock %}