Django==5.1.2
pillow==11.0.0
pytz==2024.2
sweetify
xhtml2pdf
django-axes
django-recaptcha
django-crispy-forms
crispy-bootstrap5
psycopg2-binary
dj-database-url
whitenoise[brotli]
gunicorn 
uvicorn
sentry-sdk[django]