{% extends "../base.html" %}
{% block content %}

<div class="container mt-9 text-white">
    <h2 class="mb-4">Solicitud Externo</h2>
    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.non_field_errors }}
            {{ form.externo.label_tag }}
            {{ form.externo }}
            {{ form.externo.errors }}
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" class="form-control" readonly>
        </div>
        <div class="form-group">
            {{ form.objetivo.label_tag }}
            {{ form.objetivo }}
            {{ form.objetivo.errors }}
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="md-form">
            {{ form.imagen.label_tag }}
            {{ form.imagen }}
            <div class="invalid-feedback">
                {% for error in form.imagen.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                <img id="imagen-preview" src="#" alt="Vista previa de la imagen" style="display: none; max-width: 100%; height: auto; margin-top: 10px;">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
    </form>
</div>

<script>
    document.getElementById('id_externo').addEventListener('change', function() {
        var userId = this.value;
        fetch(`/externos/api/user/${userId}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('email').value = data.email;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                alert('Error al obtener los datos del usuario.');
            });
    });

    const imageInput = document.getElementById('id_imagen');
    const imagePreview = document.getElementById('imagen-preview');

    if (imageInput) {
        imageInput.addEventListener('change', function (event) {
            const file = event.target.files[0]; 
            if (file) {
                const fileType = file.type.split('/')[0];  // Verificamos que sea una imagen
                if (fileType === 'image') {
                    const reader = new FileReader();  // Creamos un nuevo FileReader
                    reader.onload = function (e) {
                        // Cuando el archivo se haya leído, lo asignamos como src del preview
                        imagePreview.src = e.target.result;
                        imagePreview.style.display = 'block';  // Mostramos la imagen previa
                    };
                    reader.readAsDataURL(file);  // Leemos el archivo como una URL de datos
                } else {
                    // Si no es una imagen, mostramos un mensaje de error
                    alert('Tipo de archivo no válido. Por favor selecciona una imagen.');
                    imageInput.value = '';  // Limpiamos el campo
                    imagePreview.style.display = 'none';  // Ocultamos la vista previa
                }
            }
        });
    }
</script>

{% endblock %}