.Body-base {
    background-color: #9f187e;
}
header{
    color:white
}
footer{
    color:white
}


.form-outline-login input {
    border: 1px solid black !important;
}

.form-outline-login input:focus {
    border-color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.form-outline-login label {
    color: black;
}

