{% extends '../base.html' %}

{% block content %}

<div class="container mt-5" style="background-color: darkgray;">
    <h1 class="text-center">Dashboard</h1>

    <!-- Gráfico: Tareas Completadas vs. Rechazadas -->
    <div class="graph-container mb-5">
        <h3 class="graph-title">Cantidad de Tareas por Ubicación (Aceptada vs Rechazada)</h3>
        <div>{{ graph_tareas_por_lugar|safe }}</div>
    </div>

    <!-- Gráfico: Volumen de Tareas por Tiempo -->
    <div class="graph-container mb-5">
        <h3 class="graph-title">Volumen de Tareas por Tiempo</h3>
        <div>{{ graph_volumen_tareas_tiempo|safe }}</div>
    </div>

    <!-- Gráfico: Distribución de Tareas por Técnico -->
    <div class="graph-container mb-5">
        <h3 class="graph-title">Distribución de Tareas por Técnico</h3>
        <div>{{ graph_distribucion_tecnico|safe }}</div>
    </div>

    <!-- Gráfico: Cantidad Histórica de Informes por Lugar -->
    <div class="graph-container mb-5">
        <h3 class="graph-title">Cantidad Histórica de Informes por Lugar</h3>
        <div>{{ graph_informes_por_lugar|safe }}</div>
    </div>

</div>



<style>
.graph-container {
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.graph-container:hover {
    transform: translateY(-5px);
}

.graph-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 15px;
}

</style>
{% endblock %}