{% extends '../base.html' %}

{% block content %}

<div class="container mt-5 text-white">
    <h2 class="mb-4">Lista de Tareas</h2>
    
    <form method="get" action="{% url 'listar_tareas' %}">
        <div class="input-group mb-3">
            <select name="estado" id="estadoSelect" class="form-select" onchange="this.form.submit()">
                <option value="todos" {% if estado_selec == 'todos' %}selected{% endif %}>Todas</option>
                <option value="Pendiente" {% if estado_selec == 'Pendiente' %}selected{% endif %}>Pendientes</option>
                <option value="En Curso" {% if estado_selec == 'En Curso' %}selected{% endif %}>En Curso</option>
                <option value="Completada" {% if estado_selec == 'Completada' %}selected{% endif %}>Completada</option>
                <option value="Rechazada" {% if estado_selec == 'Rechazada' %}selected{% endif %}>Rechazada</option>
                <option value="Archivada" {% if estado_selec == 'Archivada' %}selected{% endif %}>Archivada</option>
            </select>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped bg-white">
            <thead>
                <tr>
                    <th>Objetivo</th>
                    <th>Estado</th>
                    <th class="d-none d-sm-table-cell">Técnico</th>
                    <th>Fecha de Creación</th>
                    <th>Informe</th>
                    <th>Reporte</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                    <tr>
                        <td>{{ tarea.objetivo }}</td>
                        <td>{{ tarea.estado }}</td>
                        <td class="d-none d-sm-table-cell">
                            {% if tarea.asignado_a %}
                                {{ tarea.asignado_a.username }}
                            {% else %}
                                No asignado
                            {% endif %}
                        </td>
                        <td>{{ tarea.creado_en|date:"d-m-Y H:i" }}</td>
                        <td>
                            {% if tarea.informe %}
                                <a href="{% url 'detalle_informe' tarea.informe.id %}" class="btn btn-info btn-sm">Ver Informe</a>
                            {% else %}
                                Sin Informe
                            {% endif %}
                        </td>
                        <td>
                            {% if es_superusuario or es_operario or es_supervisor %}
                                {% if tarea.reporte_tarea %}
                                    <a href="{% url 'detalle_reporte' tarea.reporte_tarea.id %}" class="btn btn-info btn-sm">Ver Reporte</a>
                                {% else %}
                                    Aun no se ha creado un reporte
                                {% endif %}
                            {% elif es_tecnico %}
                                {% if tarea.reporte_tarea %}
                                    <a href="{% url 'detalle_reporte' tarea.reporte_tarea.id %}" class="btn btn-info btn-sm">Ver Reporte</a>
                                {% else %}
                                    <a href="{% url 'reporte' %}?tarea_id={{ tarea.id }}" class="btn btn-info btn-sm">Crear Reporte</a>
                                {% endif %}
                            {% else %}
                                Sin Reporte
                            {% endif %}
                        </td>
                        <td>
                            {% if es_superusuario %}
                                {% if tarea.feedbacktarea %}
                                    <a href="{% url 'detalle_feedback' tarea.feedbacktarea.id %}" class="btn btn-info btn-sm">Ver Feedback</a>
                                {% else %}
                                    No hay Feedback creado
                                {% endif %}
                            {% elif es_tecnico %}
                                {% if tarea.feedbacktarea %}
                                    <a href="{% url 'detalle_feedback' tarea.feedbacktarea.id %}" class="btn btn-info btn-sm">Ver Feedback</a>
                                {% else %}
                                    En revisión
                                {% endif %}
                            {% elif es_operario or es_supervisor %}
                                {% if tarea.reporte_tarea %}
                                    {% if tarea.feedbacktarea %}
                                        <a href="{% url 'detalle_feedback' tarea.feedbacktarea.id %}" class="btn btn-info btn-sm">Ver Feedback</a>
                                    {% else %}
                                        <a href="{% url 'feedback' tarea.id %}" class="btn btn-info">Crear Feedback</a>
                                    {% endif %}
                                {% else %}
                                    En revisión
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hay tareas disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<style>
    @media (max-width: 576px) {
        .table th, .table td {
            font-size: 12px;
            padding: 0.25rem;
        }
        .btn-sm {
            font-size: 10px;
            padding: 0.25rem 0.5rem;
        }
    }
</style>

{% endblock %}
