{% extends '../base.html' %}

{% block content %}

<div class="container mt-5 text-white">
    <h2 class="mb-4">Lista de Tareas Externas</h2>
    
    <!-- Formulario de filtro de estado -->
    <form method="get" action="{% url 'listar_solicitudes' %}">
        <div class="input-group mb-3">
            <select name="estado" id="estadoSelect" class="form-select" onchange="this.form.submit()">
                <option value="todos" {% if estado_selec == 'todos' %}selected{% endif %}>Todas</option>
                <option value="en_espera" {% if estado_selec == 'en_espera' %}selected{% endif %}>En Espera</option>
                <option value="en_curso" {% if estado_selec == 'en_curso' %}selected{% endif %}>En Curso</option>
                <option value="completada" {% if estado_selec == 'completada' %}selected{% endif %}>Completada</option>
                <option value="rechazada" {% if estado_selec == 'rechazada' %}selected{% endif %}>Rechazada</option>
            </select>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped bg-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitud</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Asistencia</th>
                    <th>Solicitud</th>
                    <th>Presupuesto</th>
                    <th>Reporte</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas_externo %}
                <tr>
                    <td>{{ tarea.id }}</td>
                    <td>{{ tarea.solicitud.objetivo }}</td>
                    <td>{{ tarea.estado }}</td>
                    <td>{{ tarea.fecha_creacion|date:"d-m-Y H:i" }}</td>
                    <td>
                        {% if tarea.fecha_asistencia %}
                            {{ tarea.fecha_asistencia|date:"d-m-Y" }}
                        {% else %}
                            Fecha no asignada
                        {% endif %}
                    </td>
                    <td>
                        {% if tarea.solicitud %}
                            <a href="{% url 'detalle_solicitud' tarea.solicitud.id %}" class="btn btn-info btn-sm">Solicitud</a>
                        {% else %}
                            <p>Sin Solicitud</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if tarea.presupuesto_externo %}
                            <a href="{% url 'detalle_presupuesto' tarea.presupuesto_externo.id %}" class="btn btn-info btn-sm">Presupuesto</a>
                        {% else %}
                            {% if es_supervisor or es_operario %}
                                <a href="{% url 'gestionar_presupuesto' tarea.id %}" class="btn btn-success btn-sm">Crear Presupuesto</a>
                            {% else %}
                                Aun no se ha creado un presupuesto
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if tarea.externo_reportes %}
                            <a href="{% url 'detalle_reporte_ext' tarea.externo_reportes.id %}" class="btn btn-info btn-sm">Detalle</a>
                        {% else %}
                            {% if es_externo and tarea.presupuesto_externo %}
                                <a href="{% url 'reporte_externo' tarea.id %}" class="btn btn-success btn-sm">Crear Reporte</a>
                            {% else %}
                                Aun no se ha creado un reporte
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if tarea.externo_feedback %}
                            <a href="{% url 'detalle_feedback_ext' tarea.externo_feedback.id %}" class="btn btn-info btn-sm">Feedback</a>
                        {% else %}
                            {% if es_operario or es_supervisor and tarea.externo_reportes %}
                                <a href="{% url 'feedback_externo' tarea.id %}" class="btn btn-success btn-sm">Crear Feedback</a>
                            {% else %}
                                Aun no se ha creado un Feedback
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9" class="text-center text-muted">No hay tareas disponibles.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Estilo responsive -->
<style>
    @media (max-width: 576px) {
        .table th, .table td {
            font-size: 12px;
            padding: 0.25rem;
        }
        .btn-sm {
            font-size: 10px;
            padding: 0.25rem 0.5rem;
        }
    }
</style>

{% endblock %}