{% extends '../base.html' %}

{% block content %}
<div class="container mt-5 text-white">
    <h2 class="mb-4">Lista de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Correo</th>
                <th>Rol/Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.groups.all.0.name }}</td>
                <td>
                    <div class="dropdown">
                      <button
                      class="btn btn-warning dropdown-toggle"
                      type="button"
                      id="dropdownMenu2"
                      data-mdb-dropdown-init
                      data-mdb-ripple-init aria-expanded="false">
                        Accion
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Cambiar Rol</button></li>
                        <li><button class="dropdown-item" type="button">Modificar</button></li>
                        <li><button class="dropdown-item" type="button">Eliminar</button></li>
                      </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>









{% endblock %}