{% extends "app/base.html" %}
{% block content %}

<div class="container mt-5 text-white">
    <h2 class="mb-4">Lista de Tareas de Mantenimiento</h2>

    <!-- Formulario de filtro de estado -->
    <form method="get" action="">
        <div class="input-group mb-3">
            <select name="estado" id="estadoSelect" class="form-select" onchange="this.form.submit()">
                <option value="todos" {% if estado_selec == 'todos' %}selected{% endif %}>Todas</option>
                <option value="En Curso" {% if estado_selec == 'En Curso' %}selected{% endif %}>En Curso</option>
                <option value="Revision" {% if estado_selec == 'Revision' %}selected{% endif %}>Revision</option>
                <option value="Archivada" {% if estado_selec == 'Archivada' %}selected{% endif %}>Archivada</option>
            </select>
        </div>
    </form>

    <form action="{% url 'tarea_mant' %}" method="get">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> <!-- Font Awesome icon for "+" -->
        </button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped bg-white">
            <thead>
                <tr>
                    <th>Fecha de creación</th>
                    <th>Asignado</th>
                    <th>Última modificación</th>
                    <th>Estado</th>
                    <th>Informe</th>
                    <th>Modificar</th>
                    <th>Cerrar Tarea</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas_mantenimiento %}
                <tr>
                    <td>{{ tarea.creada }}</td>
                    <td>{{ tarea.asignado_a.username }}</td>
                    <td>{{ tarea.ultima_modificacion }}</td>
                    <td>{{ tarea.estado }}</td>
                    <td>
                        {% if tarea.informe_mantenimiento %}
                            <a href="{% url 'crear_informe' tarea.informe_mantenimiento.id %}">Crear Informe</a>
                        {% else %}
                            <a href="{% url 'crear_informe' %}">Crear Informe</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if tarea.informe_mantenimiento %}
                            <a href="{% url 'modificar_informe' tarea.informe_mantenimiento.id %}">Modificar</a>
                        {% else %}
                            <a href="#">Modificar</a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'cerrar_tarea' tarea.id %}">Cerrar Tarea</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}