{% extends '../base.html' %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <a href="{% url 'listar_tareas' %}" class="btn btn-secondary">
            &#8592; Volver a Listar Tareas
        </a>
        <h1>Detalles Informe</h1>
    </div>
    <div class="card-body">
        <p><strong>Creado:</strong> {{ informe.usuario.username }}</p>
        <p><strong>Zona:</strong> {{ informe.zona.nombre }}</p>
        <p><strong>Categoría:</strong> {{ informe.get_categoría_display }}</p>
        {% if informe.categoría == 'INF' %}
            <p><strong>Ubicación Técnica:</strong> {{ informe.ubicacion_tecnica.descripcion }}</p>
        {% elif informe.categoría == 'MAQ' %}
            <p><strong>Ubicación Técnica:</strong> {{ informe.ubicacion_tecnica.descripcion }}</p>
            <p><strong>Equipo:</strong> {{ informe.equipo.descripcion }}</p>
        {% endif %}
        <p><strong>Objetivo:</strong> {{ informe.objetivo }}</p>
        <p><strong>Mensaje:</strong> {{ informe.mensaje }}</p>
        <div class="text-center">
            <img src="{{ informe.imagen.url }}" alt="Imagen del Informe" class="img-fluid" style="width: 600px; height: 500px;">
        </div>
    </div>
</div>
{% endblock %}